* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/5e48e7b6-350d-48d9-96d6-de8ca173c89f/fbb54774-ca17-4208-a995-db44bffe4163/IN-en-20221219-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  display: flex;
  justify-content: space-between;
}

.header .logo {
  width: 170px;
  margin-left: 20px;
}

.header .right select {
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}

.header .right .btn-1 {
  margin-right: 25px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.welcome {
  position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top: -500px;
    color: white;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text h1{
  font-size: 4.125rem;
}

.welcome-text h1,p,h2{
  margin: 0 0 10px 0;
}

.email-text input{
  width: 450px;
  height: 54px;
}

.email-text .btn-2{
  width: 200px;
  height: 55px;
  color: white;
  background-color: red;
  font-size: 18px;
  margin-left: -5px;
}